@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/clash-display/ClashDisplay-Extralight.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.font-clash {
    font-family: 'ClashDisplay', Arial, sans-serif !important;
}
