@font-face {
    font-family: 'Estrella';
    src: url('../fonts/estrella/estrella-early.otf') format('opentype');

    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.font-estrella {
    font-family: 'Estrella', Arial, sans-serif !important;
}