@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
    --color-primary: #FF5800;
    --toast-color: #FF5800;
    --toast-bg: var(--ui-text-inverted);
    --toast-text: var(--ui-text);
}

.orange {
    --color-primary: var(--ui-text-inverted);
    --ui-text: var(--ui-text-inverted);
    @apply bg-[#FF5800] selection:bg-inverted/30;
}

/* Base noise background */
.noise-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 700px 700px;
    opacity: 0.5;
    pointer-events: none;
    z-index: -10;
}

/* Light theme (default) */
.noise-background {
    background-image: url("/assets/noise.webp");
}

/* Dark theme */
.dark .noise-background {
    background-image: url("/assets/noiseBlack.webp");
    opacity: 1;
}

/* Orange theme */
.noise-background-orange {
    background-image: url("/assets/noise-orange.png")!important;
    opacity: 1;
}
